.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formatIcons {
  justify-content: center;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.textArea {
  width: 40vw;
  height: var(--textAreaHeight);
}

.outputArea {
  width: 40vw;
  padding: 20px;
  height: var(--textAreaHeight);
  overflow: scroll;
}

.border {
  border: 1px solid darkgray;
  border-radius: 7px;
}

@media screen and (max-width: 768px) {
  .editorContainer {
    flex-direction: column;
  }

  .textArea {
    width: 80vw;
  }

  .outputArea {
    width: 80vw;
  }
}
