.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.textArea {
  width: 40vw;
  height: 60vh;
}

.outputArea {
  width: 40vw;
  height: 60vh;
  overflow: scroll;
}

.border {
  border: 1px solid darkgray;
  border-radius: 7px;
}